.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
}
#allmap{
	margin-top: 60px;
}
.footer-left{
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 160px;
	height: 160px;
	background:rgba(0,0,0,0.8);
	border-radius:150px;
	padding: 0;
}
.header-top{
	height: 60px;
	border-bottom: solid 1px;
	border-color: #444;
	background:rgba(0,0,0,0.8);
}
.header-right{
	float: left;
	padding: 13px;
	width: 60px;
	height: 60px;
	border-left: solid 1px;
	border-color: #444;
}
.glyphicon{
	top: 0;
	font-size: 40px;
	color: white;
}
.small_g{
	font-size: 30px;
}
.glyphicon-th-list{
	margin-right: 10px;
	top: 0px;
}
.logo{
	float: left;
	padding-top: 5px;
	width: 200px;
	height: 60px;
	border: solid 1px;
	border-color: #444;
	padding-left: 30px;
}
.logo_text{
	float: left;
	margin-right: 5px;
	font-size: 34px;
	color: #fff;
}
.connect_status{
	float: right;
	margin-right: 10px;
	padding: 5px;
	font-size: 15px;
	color: #fff;
}
.status_flag{
	color: #4A4A4A;
	font-size: 18px;
}
.battery{
	width: 120px;
	float: right;
	margin-top: 13px;
	padding-right: 2px;
	opacity: 1;
}
.mode_text{
	width: 170px;
}
.battery-number{
	color: green;
	font-size: 20px;
	padding: 2px;
}
.battery-level{
	background-color: green;
	font-size: 16px;
	color: white;
	padding: 2px;
}
.progress{
	margin-right: 100px;
	height: 3px;
}
.progress-bar{
	height: 100%;
}
.footer-left-bar{
	position: absolute;
	left: 95px;
	bottom: 10px;
	height: 100px;
	width: 300px;
	background-color: rgba(0,0,0,0.8);
	border-radius:5px;
}
.height-distance{
	width: 190px;
	height: 40px;
	margin-left: 90px;
	border-bottom: solid 1px;
	border-color: #666;
	padding-top: 10px;
}
.text{
	color: #fff;
}
.dis-title{
	margin-left: 10px;
}
.vs-hs{
	width: 240px;
	height: 50px;
	margin-left: 75px;
	padding-top: 15px;
}
.y-title, .z-title{
	margin-left: 3px;
}
.take-off{
	position: absolute;
	padding: 8px;
	top: 150px;
	left: 60px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: rgba(0,0,0,0.6);
	display: none;
}
/*.cancel{
	position: absolute;
	padding: 10px;
	top: 60%;
	left: 20px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: rgba(255,0,0,0.7);
	display: none;
}*/
.control{
	position: absolute;
	padding: 10px;
	top: 40%;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: rgba(0,0,0,0.6);
	display: none;
}
.nav-list{
	position: absolute;
	top: 0;
	right: 0;
	width: 500px;
	height: 100%;
	background: rgba(0,0,0,0.8);
	display: none;
}
.nav{
	float: left;
	width: 100px;
}
.nav-content{
	float: right;
	width: 380px;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	display: none;
}
.nav-title{
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 25px;
	color: #fff;
}
.t{
	color: #fff;
	font-size: 30px;
}
.footer-controller{
	position: absolute;
	bottom: 230px;
	left: 10px;
	width: 200px;
	height: 195px;
}
.turn-up,.turn-down,.turn-left,.turn-right,.brake{
	padding: 10px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: rgba(0,0,0,0.6);
}
.turn-left{
	float: left;
	margin-top: 70px;
}
.turn-right{
	float: right;
	margin-top: 70px;
}
.brake{
	float: left;
	margin-top: 70px;
	margin-left: 10px;
}
.turn-up{
	position: absolute;
	top: 0;
	left: 70px;
}
.turn-down{
	position: absolute;
	left: 70px;
	bottom: 0;
}
.roll-controller{
	position: absolute;
	bottom: 230px;
	right: 10px;
	width: 200px;
	height: 195px;
}
.roll-up,.roll-down,.roll-left,.roll-right,.cancel{
	padding: 10px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: rgba(0,0,0,0.6);
}
.roll-left{
	float: left;
	margin-top: 70px;
}
.roll-right{
	float: right;
	margin-top: 70px;
}
.cancel{
	float: left;
	margin-top: 70px;
	margin-left: 10px;
	background: rgba(255,0,0,0.7);
}
.roll-up{
	position: absolute;
	top: 0;
	left: 70px;
}
.roll-down{
	position: absolute;
	left: 70px;
	bottom: 0;
}
.location{
	position: absolute;
	left: 15px;
	bottom: 185px;
	width: 40px;
	height: 40px;
	padding: 5px;
	background: rgba(0,0,0,0.7);
	border-radius: 20px;
}
#win{
	position: absolute;
	top: 25%;
	left: 30%;
	width: 450px;
	height: 260px;
	display: none;
	background: rgba(0,0,0,0.6);
	border-radius: 6px;
	padding: 10px;
	font-size: 20px;
}
.win_text{
	float: left;
	color: white;
	margin: 17px 12px 0 12px;
}
.win_input{
	float: left;
	margin: 17px 12px 0 12px;
	width: 75px;
	border-radius: 5px;
}
.submit_button{
	float: left;
	margin: 12px;
	border-radius: 5px;
}
.dn-de-group, .heading-forward-group, .gear-group, .test-function-group{
	height: 70px;
	border-bottom: lightgray solid 1px;
}
.group_text{
	color: white;
	text-align: center;
}
.glyphicon-sound-dolby{
	color: rgba(0,0,0,0);
}
.change{
	position: absolute;
	right: 15px;
	bottom:190px;
	padding: 10px;
	width: 42px;
	height: 42px;
	border-radius: 20px;
	background: rgba(0,0,0,0.7);
}
span.glyphicon.glyphicon-random.small_g{
	font-size: 23px;
}
#player{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.BMap_omCtrl{
	display: none;
}
.test_text{
	width: 220px;
}
.gps_level, .gps_text, .gear_text, .gear_level, .mode_text, .mode_value{
	font-size: 24px;
	color: white;
}
#myAlert{
	position: absolute;
	top: 80px;
    left: 35%;
    width: 300px;
    height: 90px;
    text-align: center;
    display: none;
    font-size: 30px;
}
ul.dropdown-menu{
	width: 170px;
	margin-top: 3px;
	font-size: 24px;
	background-color: rgba(0,0,0,0.8);
}
.logo ul.dropdown-menu{
	margin-top: -4px;
}
ul.dropdown-menu li{
    height: 55px;
}
.caret{
	display: inline-table;
	color: white;
	border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.logo_caret{
	margin-top: 25px;
}
.gear_battery, .mode_battery{
	float: left;
	margin-left: 10px;
	padding-bottom: 5px;
	width: auto;
}
.gear_button, .mode_button{
	float:right;
	margin-top: -3px;
	background: rgba(0,0,0,0);
	border: none;
}
.gear_level, .mode_value{
	margin-right: 5px;
}
.dropdown-menu>li>a{
	color: rgba(255,255,255,0.9);
}
.group_button{
	/*float: left;*/
	margin: 10px; 
	color: rgba(255,255,255,0.9);
	font-size: 24px;
}
.down_group_text{
	/*float: left;*/
	color: rgba(255,255,255,0.9);
}
.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover, 
.btn-default:focus, .btn-default:hover, .btn-default:active,
.open>.dropdown-toggle.btn-default:active,.btn-default.active.focus, 
.btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus,
.btn-default:active, .open>.dropdown-toggle.btn-default:active{
    background-color: rgba(0,0,0,0);
}
