<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UAV</title>

  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../fonts/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/form-elements.css">
  <link rel="stylesheet" href="../css/style.css">
  <script>if (window.module) module = window.module;</script>

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="../ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
        <!-- Top content -->
        <div class="top-content">
          
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong></strong>Mission Conctrol</h1>
                            <div class="description">
                              <p>
                                
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                          <div class="form-top">
                            <div class="form-top-left">
                              <h3>Pairing</h3>
                                <p>Enter the key of the plane.</p>
                            </div>
                            <div class="form-top-right">
                              <i class="fa fa-lock"></i>
                            </div>
                            </div>
                            <div class="form-bottom">
                          <form role="form" action="" method="post" class="login-form">
                            <div class="form-group">
                              <label class="sr-only" for="form-username">Username</label>
                                <input type="text" name="form-username" class="form-username form-control" id="form-username" readonly="readonly"></input>
                              </div>
                              <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                <input type="password" name="form-password" placeholder="key.." class="form-password form-control" id="form-password">
                              </div>
                              <button type="submit" class="btn">Sign in!</button>
                          </form>
                        </div>
                        </div>
                    </div>
            </div>
            
        </div>
</body>
<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../js/tools/bootstrap.min.js"></script>
<script src="../js/jquery.backstretch.min.js"></script>
<script src="../js/scripts.js"></script>
</html>